body{
    margin: 0;
    background: black;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
    color: white;
    text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

input{
    height: 2em;
}

button {
	border: none;
	border-radius: 5px;
	height: 3em;
	background-color: indigo;
	color: white;
	margin-top: 2em;
}

#tipsBtn{
    margin-top: 50px;
}