body{
    overflow: hidden;
}

#chat{
    position: absolute;
    top: 5vh;
    left: 0;
    height: 88vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-rows: 99fr 1fr;
}

.messageList{
    background-color: #FFFFFF;
    overflow-y: scroll;
}

.messageList > .message{
    width: 60vw;
    background: #E4E6EB;
    border-radius: 15px;
    margin-bottom: 9px;
    margin-left: 20px;
    padding: 8px 12px;
    font-size: .9375rem;
    white-space: pre-wrap;
    line-height: 20px;
}

.message img {
	width: 100%;
	border-radius: 15px 15px 4px 4px;
}

.messageList > div.player{
    background-color: rgb(0, 132, 255);
    color: white;
    margin-left: 30vw;
}

.messageList > div.before{
    margin-bottom: 2px;
    border-radius: 15px 15px 5px 5px;
}

.messageList > div.before + div{
    border-radius: 5px 5px 15px 15px;
}

.messageList > div.before + div img{
    border-radius: 5px 5px 4px 4px;
}

.userInputBox{
    border-top: 1px solid grey;
    background: #E4E6EB;
    display: flex;
    align-items: center;
}

.userInput{
    margin: 1em;
    width: 75vw;
}

.userInput[disabled]{
    background-color: white;
    color: black;
    border-radius: 15px;
    border: 1px solid grey;
    padding: 8px 0px 8px 8px;
    resize: none;
    font-family: inherit;
}

.sendButton{
    cursor: pointer;
    width: 15%;
}