body{
    overflow: hidden;
}

#chat{
    position: absolute;
    top: 5vh;
    left: 0;
    height: 88vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-rows: 99fr 1fr;
}

.messageList{
    background-color: #2D1910;
    overflow-y: scroll;
}

.messageList > .message{
    width: 60vw;
    background: #FCF4C6;
    border-radius: 15px;
    margin-bottom: 9px;
    margin-left: 20px;
    padding: 8px 12px;
    font-size: .9375rem;
    white-space: pre-wrap;
    line-height: 20px;
}

.message img {
	width: 100%;
	border-radius: 15px 15px 4px 4px;
}

.messageList > div.anon{
    font-family: 'Special Elite', cursive;
}

.messageList > div.player{
    background-color: #FFFFFF;
    margin-left: 30vw;
}

.messageList > div.anon + div.anon{ 
    margin-top: -6px;
}

/* .messageList > div.anon + div.anon,
.messageList > div.anon + div.anon > img{
    border-radius: 5px 5px 15px 15px;
}

.messageList > div.player ~ div.anon:first-child{
    background-color: green;
    border-radius: 15px 15px 5px 5px;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.userInputBox{
    background: #4D5E31;
    display: flex;
    align-items: center;
}

.userInput{
    margin: 1em;
    width: 75vw;
}

.userInput[disabled]{
    background-color: #FCF4C6;
    color: black;
    border-radius: 15px;
    border: 1px solid #4D5E31;
    padding: 8px 0px 8px 8px;
    resize: none;
    font-family: inherit;
}

.sendButton{
    cursor: pointer;
    width: 15%;
}