.image-puzzle-1{
    width: 100vw;
}

#puzzleBox {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #424B46;
}

#hastinput {
	height: 30vh;
	width: 50vw;
	font-size: 130px;
	text-align: center;
	border-radius: 15px;
	border: 1px solid grey;
	background-color: #FCF4C6;
	color: #2D1910;
    font-family: 'Special Elite', cursive;
    padding-top: 30px;   
}

#puzzleBox > button {
	margin-top: 20px;
	width: 80vw;
	height: 70px;
	border: none;
	background-color: #1B180F;
	color: #FCF4C6;
	font-family: 'Special Elite', cursive;
	font-size: 30px;
	border-radius: 15px;
}

.input{
    height: 3vh;
    width: 50vw;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid grey;
    background-color: #FCF4C6;
    color: #2D1910;
    font-family: 'Special Elite', cursive;
    padding-top: 30px;   
}

.lock > input {
    height: 5vh;
	width: 20vw;
	font-size: 80px;
	text-align: center;
	border-radius: 15px;
	border: 1px solid grey;
	background-color: #FCF4C6;
	color: #2D1910;
    font-family: 'Special Elite', cursive;
    padding-top: 30px;   
    margin: 10px;
}

#itemImage {
	height: 40vh;
	transform: rotate(45deg);
}