body {
	margin: 0;
	font-family: sans-serif;
	background-color: lightgray;
    display: grid;
}

#root{
    display: grid;
    width: 100vw;
    justify-self: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: snow;
    box-shadow: 0px 0px 1px black;
    padding: 0 1em;
    height: 10vh;
}

nav > h1{
    font-weight: bold;
    font-size: 2em;
}

.login-background {
    display: grid;
    width: 100vw;
    justify-self: center;
    height: 100vh;
}

.login{
    display: grid;
    background-color: snow;
	padding: 3em;
    margin: 1em;
	border-radius: 15px;
	box-shadow: 1px 1px 15px rgba(0,0,0,.2);
    align-self: center;
    justify-self: center;
    pointer-events: all;
}

.login > h1 {
    margin-top: 0px;

}

form{
    display: flex;
    flex-direction: column;
}

label{
    text-align: center;
}

#name{
    height: 3em;
}

.info {
	background-color: #f4f4a3;
	padding: 10px;
	border: 1px solid #d7d700;
    margin: 0;
}

.code {
	background-color: lightgray;
	width: 30%;
	font-size: 1.5em;
	text-align: center;
	justify-self: center;
	border-radius: 5px;
	padding: 2%;
}

button {
	height: 3em;
	width: 15em;
	justify-self: center;
	margin-top: 30px;
	margin-bottom: 0px;
}

.email-layer{
    cursor: pointer;
    text-decoration: none;;
}

.email{
    display: grid;
    grid-template-columns: .1fr 1fr 6fr;
    border-radius: 5px;
    background-color: snow;
    margin: .5em;
    padding: 1em;
    color: black;
}

.avatar,
.avatar > span,
.email-content,
.email-heading,
.email-heading > h2,
.email-heading > p{
    pointer-events: none;
}

.email-text > a{
    pointer-events: all;
}

.read-indicator {
	height: 140%;
	width: 130%;
	justify-self: center;
	align-self: center;
	border-radius: 5px;
    margin-left: -10px;
}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    border-radius: 100%;
    height: 3em;
    width: 3em;
    justify-self: center;
    align-self: center; 
}

.avatar > span{
    color: white;
}

.email-content {
	overflow: hidden;
	padding-left: 1em;
}

.email-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.email-heading > h2 {
	font-weight: normal;
	margin: 0;
	font-size: 1.2em;
}

.email-heading > p{
    color: blue;
    margin: 0;
}

.email-body > h3 {
	font-weight: normal;
	margin: 0;
	font-style: italic;
	font-size: 1em;
}

.adresses{
    grid-column: 1 / 3;
    color: grey;
    margin: 1em 0;
}

.adresses > p{
    margin: 0;
}

.email-text{
    grid-column: 1 / 3;
}

.unread > .email-content > .email-heading > h2,
.unread > .email-content > .email-body > h3{
    font-weight: bold;
}

.hidden{
    display: none;
}

.email-detail {
    display: grid;
	grid-template-columns: .1fr 1fr 6fr;
	position: absolute;
	top: 10vh;
	left: 0;
}

.email-detail > .read-indicator,
.email-detail > .avatar {
    display: none;
}

.email-detail > .email-content {
    grid-column: 1/4;
}

.alert{
    height: 5vh;
    width: 90vw;
    background-color: rgb(61, 184, 61);
    color: rgb(19, 63, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(19, 63, 19);
    border-radius: 5px;
    position: absolute;
    bottom: 5vh;
    justify-self: center;
}